<section id="blog-article">

    <div class="container">

        <div class="row">
            <!-- Article content -->
            <div class="col-md-8 col-sm-12">
                <article>

                    <%- post.content %>

                </article>
            </div>

            <!-- Article author -->
            <div class="col-md-4 col-sm-12">
                <div class="author">
                    <img src="/img/avatar.webp" alt="Felix Klauke">

                    <h3>Felix Klauke</h3>
                </div>
            </div>
        </div>

    </div>

</section>