<head>
    <!-- Charset -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="Felix Klauke">

    <%- open_graph() %>

    <link rel="icon" href="favicon.ico">

    <title>Felix Klauke | Blog</title>

    <%- css('css/style.css') %>

    <%- partial('_partial/google-analytics') %>

    <!-- Robots -->
    <meta name="robots" content="index, follow">
</head>